html, body{
    font-size: 1rem !important;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    padding-right: unset!important;
}

/*.menu{
    overflow-x: hidden !important;
    overflow-y: auto !important;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    width: 130px !important;
    white-space: nowrap;
    height: 100vh;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.collapse.show{
    position: relative !important;
    left: 0 !important;
    z-index: 1 !important;
    top: 0 !important;
    -webkit-animation: none !important;
    animation: none !important;
}
@media (min-width: 768px){
    .menu{
        width: 260px !important;
        min-width: 218px;
    }
    .menu.toggled{
        width: 134px !important;
        min-width: 120px;
    }
}
.menu::-webkit-scrollbar {
    width: .4rem;
}
.menu::-webkit-scrollbar-thumb {
    background: #fff;
    border: 1px solid #4e73df;
}

.menu-header{
    position: sticky;
    top: 0px;
    background: #4e73df;
    z-index: 99;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}*/
    

/*   -------------------------   */
.toolbar{
    position: relative;
    z-index: 1;
}
.edit-icon {
    padding: 4px;
}
a#Filter, .data-addition {
    float: right;
    padding-left: 8px;
}
i.fa.fa-exclamation {
    color: #e74a3b;
}
.filter-no-applied{
    visibility: hidden;
}
.modal-content {
    border: unset;
}
.form-group {
    margin-bottom: unset;
}

/*.form-control {
    padding: unset;
}*/
.hidden{
    display: none !important;
}
.weekend {
    color: red !important;
}
.day.old, .day.new{
    visibility: hidden !important;
}
.day.disabled{
    color: gainsboro !important;
}
.glyphicon, .picker-switch {
    color: rgb(78, 115, 223, 0.8);;
}
.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: rgb(78, 115, 223, 0.8);
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: rgb(78, 115, 223, 0.8);;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.input-group-addon {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-left: unset;
    border-radius: 0px 4px 4px 0px;

}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    /*padding: 6px 12px;*/
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    /*background-image: none;*/
    border: 1px solid #ccc; 
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
}
.btn-light{
    border: 1px solid #ccc;
    background-color: unset;
    font-size: unset;
}
.disabled-select{
    background-color: lightgray;
}
#Ingresos .fa-plus-circle{
    color: #1cc88a;
}
#Gastos .fa-minus-circle{
    color: #e74a3b;
}

input[type="search"] {
    box-sizing: border-box !important;
}
.modal-header{
    padding: 0.75rem 1.25rem;
}
.modal-footer{
    padding: 0.75rem 1.25rem 0rem 0.75rem;
}
footer.sticky-footer {
    padding: 1.5rem 0;
}

.specialButton{
    font-size: 1.25rem;
    padding-right: .5rem;
}
.dropdown-menu.show{
    min-width: 210px;
}


.card-header .close {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
    font-size: 1.2rem;
}
.form-check {
    margin-top: 5px;
    margin-bottom: 5px;
}
form .col-md-6.col-sm-6.col-xs-6, form .col-md-12.col-sm-12.col-xs-12{
    padding-bottom: 15px;
}


div#periodicitiesDropdownList, div#tripsDropdownList, div#notesDropdownList{
    max-height: 36vh;
    overflow: auto;
}
#trips-car-body, .mapFooter{
    background-color: #589bd7; 
    border-top: unset;
}
.topbar .dropdown-list#periodicitiesDropdown .dropdown-header {
    background-color: #f6c23e;
    border: 1px solid #f6c23e;
}
.topbar .dropdown-list#tripsDropdown .dropdown-header {
    background-color: #1cc88a;
    border: 1px solid #1cc88a;
}
.topbar .dropdown-list#notesDropdown .dropdown-header {
    background-color: #36b9cc;
    border: 1px solid #36b9cc;
}
#notesDropdownList::-webkit-scrollbar, #periodicitiesDropdownList::-webkit-scrollbar, #tripsDropdownList::-webkit-scrollbar {
    width: .4rem;
}
#notesDropdownList::-webkit-scrollbar-thumb {
    background: #fff;
    border: 1px solid #36b9cc;
}
#periodicitiesDropdownList::-webkit-scrollbar-thumb {
    background: #fff;
    border: 1px solid #f6c23e;
}
#tripsDropdownList::-webkit-scrollbar-thumb {
    background: #fff;
    border: 1px solid #1cc88a;
}
.topbar .topbar-divider, .dropdown-divider {
    border: 1px solid #e3e6f0;
}
#img-profile {
    background-position: center center!important;
    background-size: cover!important;
}
#login_form .form-group{
    margin-bottom: 1rem;
}

.bg-login-image {
    background: url(../../img/login.jpg);
    background-position: center;
    background-size: cover;
}
form.user .btn-user {
    margin-top: 2rem;
}

.login-body{
    background-color: #f8f8f8;
}

.login-body footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /* padding: 1rem; */
    text-align: center;
    background-color: #f8f8f8;
}
.bg-sidebar-agp {
    background-color: #7e969d;
}
.bg-sidebar-group-agp {
    background-color: #93a3a8;
}
@media (min-width: 768px){
    .bg-sidebar-group-agp {
        background-color: #93a3a8;
        border: 8px;
        padding: 0px !important;
        border-style: solid;
        border-right-color: #e4e5e8;
        border-left-color: #7e969d;
        border-top-color: #607176;
        border-bottom-color: #607176;
    }
}

.mapSelected,.mapSelected:hover{
    color: yellow;
}

td.good{
    font-weight: bold;
    color: greenyellow;
}
td.good a i{
    color: greenyellow;
}
td.regular{
    font-weight: normal;
    color: orange;
}
td.regular a i{
    color: orange;
}
td.bad{
    font-weight: normal;
    color: red;
}
td.bad a i{
    color: red;
}
td.catastrophic{
    font-weight: normal;
    color: black;
}
td.catastrophic a i{
    color: black;
}
tr.discarded{
    font-weight: normal;
    color: darkgrey;
    text-decoration:line-through;
}
tr.discarded a i{
    color: darkgrey;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-header, .sidebar .nav-item .collapsing .collapse-inner .collapse-header {
    color: #fff;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #fff;
    font-weight: 700;
    margin-left: 1rem;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #7e969d;
    margin: 0;
    padding-left: 2rem;
}
.sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
    margin: 0;
}
